.footer__columns {
  display: flex;
  gap: 77px;
}

@media screen and (max-width: 1024px) {
  .footer__columns {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .footer__columns {
    flex-direction: column;
    gap: 60px;
  }
}
