.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #192252;
}

.header__link::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #192252;
  transition: all 0.2s ease-in;
}

.header__link:hover::after {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 665px) {
  .header__link {
    font-size: 16px;
  }
}
