@keyframes rising-image {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rising-image {
  animation: rising-image .8s ease-in;
}
