.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #848FAC;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 665px) {
  .paragraph {
    font-size: 12px;
  }
}
