.reviews__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #192252;
  margin: 0 0 24px;
}

@media screen and (max-width: 768px) {
  .reviews__author {
    font-size: 16px;
  }
}

@media screen and (max-width: 665px) {
  .reviews__author {
    font-size: 14px;
  }
}
