.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #FFFFFF;
  background-color: #0E1734;
  border-radius: 4px;
  padding: 16px 32px;
  text-decoration: none;
  transition: all 0.1s ease-in;
}

.button:hover {
  opacity: .8;
}

@media screen and (max-width: 665px){
  .button {
    padding: 14px 28px;
    font-size: 14px;
  }
}

@media screen and (max-width: 470px){
  .button {
    padding: 12px 24px;
    font-size: 12px;
  }
}

